SampleServiceClient/App_WebReferences/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20149/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20149/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20149/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:20149/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetBusinessRules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBusinessRules" />
  </wsdl:message>
  <wsdl:message name="IService_GetBusinessRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusinessRulesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPositions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPositions" />
  </wsdl:message>
  <wsdl:message name="IService_GetPositions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetEmployeeByPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByPosition" />
  </wsdl:message>
  <wsdl:message name="IService_GetEmployeeByPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByPositionResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetBusinessRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBusinessRules" message="tns:IService_GetBusinessRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBusinessRulesResponse" message="tns:IService_GetBusinessRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPositions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPositions" message="tns:IService_GetPositions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPositionsResponse" message="tns:IService_GetPositions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetEmployeeByPosition" message="tns:IService_GetEmployeeByPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetEmployeeByPositionResponse" message="tns:IService_GetEmployeeByPosition_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBusinessRules">
      <soap:operation soapAction="http://tempuri.org/IService/GetBusinessRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositions">
      <soap:operation soapAction="http://tempuri.org/IService/GetPositions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByPosition">
      <soap:operation soapAction="http://tempuri.org/IService/GetEmployeeByPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:20149/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>